<div class="about-section">
  <h1>About Me</h1>
  <link rel="stylesheet" type="text/css" href="/css/about.css">
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jacob Wiltshire</h2>
          <form action="mailto:jacob@jacobwiltshire.me">
            <input type="submit" value="My Email" />
           </form>
        </h2>
      </div>
    </div>
  </div>
</div>
